<div id="top" class="loader"></div>
<div style="width:90%; min-width: 600px; margin:0 auto;">
  <mat-card>
    <h4 style="text-align:center; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Detailed
      Frustration Results</h4>
  </mat-card>
  <div style="height:10px"></div>


  <div style="height:10px"></div>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header style="background-color:#dddddd; color:Black; ">
      <mat-panel-title style="font-size:large; font-weight:600;  color:Black;">
        Fractional Contacts In Each Frustration Class
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-grid-list cols="13" rowHeight="410px">

      <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="9" rowspan="2" style="align-self: center;">
        <img style="text-align:center;" [src]="ConfigurationalAroundImage" width="95%">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>

    </mat-grid-list>
  </mat-expansion-panel>

  <div style="height:10px"></div>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header style="background-color:#dddddd; color:Black; ">
      <mat-panel-title style="font-size:large; font-weight:600;  color:Black;">
        Sequence Space Density 
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-grid-list cols="13" rowHeight="410px">

      <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="9" rowspan="2" style="align-self: center;">
        <img style="text-align:center;" [src]="ConfigurationalImage" width="95%">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>

    </mat-grid-list>



  </mat-expansion-panel>

  <div style="height:10px"></div>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header style="background-color:#dddddd; color:Black; ">
      <mat-panel-title style="font-size:large; font-weight:600;  color:Black;">
        Frustration Contact Map
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-grid-list cols="13" rowHeight="410px">

      <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="9" rowspan="2" style="align-self: center;">
        <img style="text-align:center;" [src]="ConfigurationalMap" width="68%">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>

    </mat-grid-list>



  </mat-expansion-panel>





  </div>