*.csv
*.Rhistory
*.mzXML
*.d
*.xlsx
*.asv
*.RData
*.xls
*.zip
CodeTotest/
PerceptronFrontEnd/dist/
ToolBox/Rcall/Rrun.Rout
ToolBox/Rcall/Rrun.R
ToolBox/Rcall/Rpush.mat
*.mat
ToolBox/Bridge2/python3env/
ToolBox/Bridge/
ToolBox/Bridge/python3env/
ToolBox/Bridge/__pycache__/
PerceptronXfmsFrontEnd/dist/
PerceptronXfmsFrontEnd/node_modules/@angular-devkit/
PerceptronXfmsFrontEnd/node_modules/.cache/