*.csv
*.Rhistory
*.xlsx
*.asv
*.RData
*.xls
CodeTotest/
PerceptronFrontEnd/dist/
ToolBox/Rcall/Rrun.Rout
ToolBox/Rcall/Rrun.R
ToolBox/Rcall/Rpush.mat
ToolBox/Bridge2/python3env/
ToolBox/Bridge/
ToolBox/Bridge/python3env/
ToolBox/Bridge/__pycache__/
PerceptronXfmsFrontEnd/dist/
PerceptronXfmsFrontEnd/node_modules/@angular-devkit/
PerceptronXfmsFrontEnd/node_modules/.cache/
PerceptronXfmsAPI/.vs/
PerceptronXfmsAPI/PerceptronXfmsAPI/obj/Debug/
PerceptronXfmsAPI/*.pdb
PerceptronXfmsFrontEnd/src/assets/DataFiles/Dfolders_CheY/Dfolders_CheY.zip
PerceptronXfmsFrontEnd/src/assets/DataFiles/Dfolders_CheY/Replicate1.zip
PerceptronXfmsFrontEnd/src/assets/DataFiles/Dfolders_CheY/Replicate2.zip
PerceptronXfmsFrontEnd/src/assets/DataFiles/Dfolders_CheY/Replicate3.zip
PerceptronXfmsFrontEnd/src/assets/DataFiles/mzXML_CheY/mzXML_CheY.zip
PerceptronXfmsFrontEnd/src/assets/DataFiles/mzXML_CheY/Replicate1.zip
PerceptronXfmsFrontEnd/src/assets/DataFiles/mzXML_CheY/Replicate2.zip
PerceptronXfmsFrontEnd/src/assets/DataFiles/mzXML_CheY/Replicate3.zip
PerceptronXfmsAPI/PerceptronXfmsAPI/App_Data/*.zip
*.lock
*.suo
PerceptronXfmsAPI/PerceptronXfmsAPI/.vs/
PerceptronXfmsAPI/PerceptronXfmsAPI/bin/PerceptronXfmsAPI.dll
PerceptronXfmsAPI/PerceptronXfmsAPI/bin/PerceptronXfmsAPI.pdb
PerceptronXfmsAPI/.vs/
PerceptronXfmsAPI/PerceptronXfmsAPI/obj/Debug/
PerceptronXfmsSimulationService/.vs/
PerceptronXfmsSimulationService/PerceptronXfmsSimulationService/obj/
*.cache
PerceptronXfmsFrontEnd - Copy/
PerceptronXfmsAPI/.vs/PerceptronXfmsAPI/v15/Server/sqlite3/storage.ide-shm
PerceptronXfmsAPI/.vs/PerceptronXfmsAPI/v15/Server/sqlite3/storage.ide-wal
PerceptronXfmsSimulationService/.vs/PerceptronXfmsSimulationService/v15/Server/sqlite3/storage.ide-shm
PerceptronXfmsSimulationService/.vs/PerceptronXfmsSimulationService/v15/Server/sqlite3/storage.ide-wal
PerceptronXfmsSimulationService/.vs/
*.suo
*.ide-wal
PerceptronXfmsAPI.dll
PerceptronXfmsAPI.pdb
*.ide-wal
*.ide-shm