.Backgound{
    background-color:#FBFEFF;
}

.FileSymbol{
    justify-content: flex-end;
}

/* 
/deep/ .parametersPanel .mat-expansion-panel-body {
    padding: 0;
}

.mat-expansion-panel-body {
    padding: 0;
} */


:host ::ng-deep .mat-expansion-panel-body{
    padding: 0;
}