<div id="top" style="width:90%; min-width: 900px; margin:0 auto;">
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <mat-card>
        <label
            style="text-align:center; font-size: 23px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Current Team</label>
    </mat-card>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="17" rowHeight="200px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Safee Ullah Chaudhary.png" style="width:200px;height:200px;">    
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Dr.Shahid.jpg" style="width:200px;height:200px;">   
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>

                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Maham.jpg" width="200" height="200"> 
                    </div>
                </mat-grid-tile>



                <mat-grid-tile colspan="1"></mat-grid-tile>

                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Farhan.jpg" width="200" height="200"> 
                    </div>
                </mat-grid-tile>


            </mat-grid-list>
            <mat-grid-list cols="17" rowHeight="25px">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile class="largeScreen" colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Safee Ullah Chaudhary</b><br>Associate Professor<br>Lahore University of Management Sciences</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Shahid Khan</b><br>Senior Scientist<br>Lawrence Berkeley National Laboratory, USA</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>

                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Maham Hamid</b><br>PhD Student<br>Lahore University of Management Sciences</p>
                </mat-grid-tile>


                <mat-grid-tile></mat-grid-tile>


                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Muhammad Farhan Khalid</b><br>Research Associate<br>Lahore University of Management Sciences</p>
                </mat-grid-tile>


            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    
    <!-- <div style="height:10px;font-size:1px;">&nbsp;</div>
    
    
    <mat-card>
        <label
            style="text-align:center; font-size: 23px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Current
            Team</label>
    </mat-card>
    
    
    
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="17" rowHeight="200px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                
                <mat-grid-tile colspan="1"></mat-grid-tile>
                
            </mat-grid-list>
            <mat-grid-list cols="17" rowHeight="20px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
               
                <mat-grid-tile colspan="1"></mat-grid-tile>
               

                
            </mat-grid-list>
        </mat-card-content>
    </mat-card> -->


    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <mat-card>
            <label
                style="text-align:center; font-size: 23px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Acknowledgments</label>
        </mat-card>
        <div style="height:10px;font-size:1px;">&nbsp;</div>

    <mat-card>
        <mat-card-content>
            <br>
            <label
                style="padding-left:0px; font-size: 15px; text-align: centre; font-family: roboto, arial, sans-serif;">PERCEPTRON-XFMS
                was generously sponsored by several funding agencies over its development. Special acknowledgement to <a
                    href="http://www.hec.gov.pk">Higher Education Comission of Pakistan</a>, Islamabad and <a href="http://www.lums.edu.pk">Lahore
                    University of Management Sciences</a>, Lahore, Pakistan.</label>
            <br>
            <mat-grid-list cols="7" rowHeight="100px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                
                <mat-grid-tile colspan="2">
                    <img src="assets/images/lums.png" width="80" height="80">
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <img src="assets/images/hec.png" width="80" height="80">
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>

</div>