<div id="top" class="loader"></div>
<div style="width:90%; min-width: 600px; margin:0 auto;">
  <mat-card>
    <h4 style="text-align:center; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">XFMS
      Searched Results</h4>
  </mat-card>
  <br>

  <button mat-raised-button matTooltip="Click to Download Results" type="submit"
    style="background-color: #201a93; margin-right: 50px; color:aliceblue" class="ui button" (click)=download()>Results
    Download</button>

  <div style="height:50px;font-size:1px;"></div>

      
  <div style="display:flex;">
    <div style="width:25%"></div>
  <mat-card  class="example-card" style="flex: 1 1 auto;">
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" src="assets/images/ProtectionFactorShieldAvator.jpg">
      <mat-card-title style="font-size:large; font-weight:bold;">Protection Factor</mat-card-title>
  
    </mat-card-header>
    <div style="height:20px;font-size:1px;"></div>
    <img mat-card-image class="img-margin" style="width:350px"
      src="assets/images/ProtectionFactorMainImage.jpg">
    <!-- alt="Photo of a Shiba Inu" -->
    <mat-card-content>
      <p style="margin: 0;text-align: center; font-weight: bold;">
        Protection factor calculates the residue based protection against the exposure of water.
      </p>
      <mat-card-actions style="padding: 4px;">
        <button mat-button class="Results-btn-pos" (click)=ViewDetailedPF()>Results</button>
  
      </mat-card-actions>
  
    </mat-card-content>
  
    <div style="height:5px"></div>
  </mat-card>

  <div style="width:20px"></div>

  <mat-card class="example-card" style="flex: 1 1 auto;">
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" src="assets/images/BetweennesCentralityMainImage.jpg">
      <mat-card-title style="font-size:large; font-weight:bold;">Betweenness Centrality</mat-card-title>

    </mat-card-header>
    <div style="height:20px;font-size:1px;"></div>
    <img mat-card-image class="img-margin" style="width:350px"
      src="assets/images/BetweennesCentralityMainImage.jpg">
    <!-- alt="Photo of a Shiba Inu" -->
    <mat-card-content>
      <p style="margin: 0;text-align: center; font-weight: bold;">
        Betweenness centrality determines the degree of connectivity of each residue-residue and residue-water
        interactions.
      </p>
      <mat-card-actions>
        <button mat-button class="Results-btn-pos" (click)=ViewDetailedCentrality()>Results</button>

      </mat-card-actions>

    </mat-card-content>

    <div style="height:5px"></div>
  </mat-card>
  <div style="width:25%"></div>
</div>


 
</div>


<!-- 
<mat-card >
  <div style="height:400px; font-size: 1px;">
      <mat-card-content>
        <mat-grid-list cols="1">
          <mat-grid-tile cols="1">
  
  
  <mat-card-header>
                  <img mat-card-avatar class="example-header-image" src="assets/images/ProtectionFactorShieldAvator.jpg">
                  <mat-card-title style="font-size:large; font-weight:bold;">Protection Factor</mat-card-title>
  
                </mat-card-header>
  
  
  
  
  
  
  
  
  
             
          
          </mat-grid-tile>
        </mat-grid-list>
  
  
  
  
  
      </mat-card-content>
    </div>
    </mat-card> -->